{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium OSLO-Slim Ruimtelijk Plannen definieert termen die van toepassing zijn om gegevens uit te wisselen over ruimtelijke indicatoren en schaalniveaus. Meerbepaald gaat het over het vaststellen (Observatie) van de waarde van een Ruimtelijke Indicator die betrekking heeft op een bepaald schaalniveau (Ruimtelijk Object). Ruimtelijke indicatoren geven inzicht in het ruimtegebruik en de ruimtelijke structuur van Ruimtelijke Objecten. Het vocabularium geeft een overzicht van de gebruikte terminologie en daaraan gekoppelde definities.
</p>
<p>Dit model is gebaseerd op <a href="https://data.vlaanderen.be/doc/applicatieprofiel/observaties-en-metingen/kandidaatstandaard/2022-04-28/" target="_blank">OSLO Observaties en Metingen</a> & <a href="https://data.vlaanderen.be/doc/applicatieprofiel/sensoren-en-bemonstering/kandidaatstandaard/2022-04-28/" target="_blank">OSLO Sensoren en Bemonstering</a>.
</p>
{% endblock %}
