{% extends "ap2.j2" %}

{% block summary %}
<p>Het applicatieprofiel Slim Ruimtelijk Plannen legt uit hoe de terminologie in dit domein moet gebruikt worden om gegevens uit te wisselen over Ruimtelijke Indicatoren en Ruimtelijke Objecten (i.e. schaalniveaus) in het bijzonder.
</p>
<p>In dit model wordt een Observatie beschouwd als de activiteit waarbij de waarde van een Kenmerk van een (Ruimtelijk) Object wordt vastgesteld. Toegepast in de context van ruimtelijke planning gaat het over de waarde van een bepaalde Ruimtelijke Indicator die wordt vastgesteld voor een bepaald Ruimtelijk Object. Zo kan men permanent inzicht verkrijgen in het ruimtegebruik en de ruimtelijke structuur van een buurt.
</p>
<p>In het kader van deze standaard werden ook codelijsten uitgewerkt van <a href="https://data.vlaanderen.be/doc/conceptscheme/RuimtelijkeIndicatoren" target="_blank">Ruimtelijke Indicatoren</a> en <a href="https://data.vlaanderen.be/doc/conceptscheme/Schaalniveaus" target="_blank">Ruimtelijke Objecten</a> (i.e. schaalniveaus). Voor de duidelijkheid werden de schaalniveaus opgedeeld in verschillende types gebiedsindelingen. Wanneer de codelijst van Ruimtelijke Objecttypes geopend wordt, zullen eerst de gebiedsindelingen tevoorschijn komen en kunnen de onderliggende schaalniveaus geraadpleegd worden door door te klikken op een specifieke gebiedsindeling.
</p>
<p>Dit model is gebaseerd op <a href="https://data.vlaanderen.be/doc/applicatieprofiel/observaties-en-metingen/kandidaatstandaard/2022-04-28/" target="_blank">OSLO Observaties en Metingen</a> & <a href="https://data.vlaanderen.be/doc/applicatieprofiel/sensoren-en-bemonstering/kandidaatstandaard/2022-04-28/" target="_blank">OSLO Sensoren en Bemonstering</a>.
</p>
{% endblock %}
